.paragraphe{
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px; 
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: antiquewhite;
    text-decoration-style: dashed;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}